body {
    margin: auto;
    background-image: url(../images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#game {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    /*background-color: whitesmoke;*/

    font-size: 40px;
    /*border-style: solid;*/
    /*border-radius: 3px;*/
}

#game h1 {
    font-family: "Arial Black", sans-serif;
    color: rgba(45,45,45,0.9);
    text-shadow: 5px 5px 5px rgba(2,4,7,.25);
    text-align: center;
}

#mainMenu p {
    font-family: "Arial Black", sans-serif;
    text-align: center;
    font-weight: bold;
    color: darkred;
    font-size: 80px;
    text-shadow: 5px 5px 5px rgba(2,4,7,.25);
}

#game .screen {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10;
}

#game .screen.active {
    display: block;
}

ul.menu {
	text-align: center;
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.menu {
	text-align: center;
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.menu li {
	margin: 0.8em 0;
}

ul.menu li button {
	font-family: "Arial Black", sans-serif;
	font-size: 0.6em;
	color: whitesmoke;
	width: 10em;
	height: 50px;
	background: rgba(48,41,41,0.8);
	/*border: 0.1em solid rgb(255, 0, 0);*/
	border-radius: 0.5em;
	box-shadow: 5px 5px 5px rgba(2,4,7,.25);
}
button {
    cursor: pointer;
}

ul.menu li button:hover {
	background: rgba(25,20,20,1);
}

ul.menu li button:active {
	color: #CECEF6;
	background: rgb(0, 0, 0);
}

#aboutScreen p {
    text-align: center;
}
.list{
    margin-right: auto;
    margin-left: auto;
    width:500px;
    height: auto;
    background-color: rgba(250,250,250,0.6);
    border-radius: 10px;
    border: 5px solid rgba(45,45,45,0.8);
    box-shadow: inset 5px 5px 5px rgba(2,4,7,.25);
}
ol {
    text-align: center;
    font-family: "Arial", sans-serif;
    color: rgba(20,20,20,0.8);
    padding: 30px 0 30px 100px;
    cursor: default;
}
#id-highScoresList {
    font-family: "Arial", sans-serif;
	text-align: center;
	margin: 0;
	list-style: decimal;
    color: rgba(20,20,20,0.8);
}
.tower{
    width: 180px;
    height: auto;
    float: left;
    border-radius: 5px;
    margin: 0 10px;
    color:rgba(100,100,100,1);
    background-color: rgba(250,250,250,0.6);
    box-shadow: 5px 5px 5px rgba(2,4,7,.25);
}
.tower:hover{
    background-color: rgba(100,100,100,0.8);
    color:whitesmoke;
    cursor: pointer;
}
.right{
    float: right;
    width: 400px;
    height: auto;
    margin: auto;
    background-color: rgba(250,250,250,0.6);
    padding: 10px;
    border-radius: 10px;
    border: 5px solid rgba(45,45,45,0.8);
    box-shadow: 5px 5px 5px rgba(2,4,7,.25);
}
.top{
    width: 100%;
    height: auto;
    float: right;
    margin-bottom: 20px;
}
.bottom{
    width: 100%;
    height: auto;
    float: right;
}
p.name_button{
    margin: -10px 0 0 50px;
    text-align: center;
    font-family:"Lucida Console", Monaco, monospace;
    font-size: 25px;
    text-shadow: 5px 5px 5px rgba(2,4,7,.25);
    
}
#createTower1{
    text-align: left;
    background-image: url(../images/gun.png);
    background-color:whitesmoke;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    padding: 20px;
    border-radius: 5px;    
}
/*div.button:hover{
    background-color: cornflowerblue;
    cursor: pointer;
}*/
#createTower2{
    background-image: url(../images/cannon.png);
    background-color:whitesmoke;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    padding: 20px;
    border-radius: 5px;
}
#createTower3{
    background-image: url(../images/tower.png);
    background-color:whitesmoke;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    padding: 20px;
    border-radius: 5px;   
}
#createTower4{
    background-image: url(../images/missile1.png);
    background-color:whitesmoke;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    padding: 20px;
    border-radius: 5px;   
}
#canvasCenter {
    margin-top: 50px;
    width:90%;
    height:auto; 
    margin-right:auto;
    margin-left:auto;
}
#myCanvas {
    background-image: url(../images/grassa.jpg);
    border-radius: 15px;
    border:10px solid rgba(45,45,45,0.8);
    box-shadow: 5px 5px 5px rgba(2,4,7,.5);
}

#moneyLabel {
    text-align: center;
    margin: 0 0 20px 0;
    font-family:"Arial Black", Monaco, monospace;
    color: rgba(0,65,0,1);
    text-shadow: 5px 5px 5px rgba(2,4,7,.25);
    cursor: default;
}

#options button {
    margin-top: 10px;
}
#upgradeButton {
    font-size: 26px;
    border-radius: 5px;
    width: 180px;
    height: 60px;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(2,4,7,.25);
    background-color: rgba(0,65,0,1);
    color: white;
}
#upgradeButton:hover{
    background-color: rgba(0,200,0,0.8);
}

#sellButton {
    float: left;
    border-radius: 5px;
    font-size: 26px;
    width: 180px;
    height: 60px;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(2,4,7,.25);
    background-color: rgba(0,65,0,1);
    color: white;
}
#sellButton:hover{
    background-color: rgba(0,200,0,0.8);
}
.noteControl{
    margin-right: auto;
    margin-left: auto;
    width:800px;
    height: auto;
    background-color: rgba(250,250,250,0.6);
    color: rgba(20,20,20,0.8);
    border-radius: 10px;
    border: 5px solid rgba(45,45,45,0.8);
    box-shadow: inset 5px 5px 5px rgba(2,4,7,.25);
    font-family: "Arial", sans-serif;
    padding: 20px;
}
.noteControl button{
    background: rgba(45,45,45,1);
    color: whitesmoke;
    padding: 10px 20px;
    font-size: 0.6em;
    float: right;
    margin: 0 20px 0 0;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(2,4,7,.25);
}
.noteControl button:hover{
    background: rgba(65,65,65,0.8);
}
.noteAbout{
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    width:400px;
    height: auto;
    background-color: rgba(250,250,250,0.6);
    border-radius: 10px;
    border: 5px solid rgba(45,45,45,0.8);
    box-shadow: inset 5px 5px 5px rgba(2,4,7,.25);
}
.topAbout{
    margin: 10px 0 0 -100px;
    font-family: "Arial", sans-serif;
    color: rgba(20,20,20,0.8);
}
.centerAbout{
    font-family:"Courier New", Courier, monospace;
    font-weight: bold;
    color: rgba(20,20,20,0.8);
}